<h1>New Bookmark</h1>

<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.association :movie, collection: @movies, prompt: 'Select a movie', label: false %>
  <%= f.input :comment, placeholder: 'Enter a comment', label: false %>
  <%= f.submit %>
<% end %>
